USE [master]
GO
/****** Object:  Database [LuckDraw]    Script Date: 2019/4/22 11:11:28 ******/
CREATE DATABASE [LuckDraw]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LuckDraw', FILENAME = N'D:\SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LuckDraw.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'LuckDraw_log', FILENAME = N'D:\SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LuckDraw_log.ldf' , SIZE = 2304KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LuckDraw].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LuckDraw]
GO
/****** Object:  Table [dbo].[message]    Script Date: 2019/4/22 11:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[qq] [varchar](200) NULL,
	[nickname] [varchar](300) NULL,
	[publish_time] [datetime] NULL,
	[contain] [varchar](max) NULL,
 CONSTRAINT [PK_message] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
